@import url(config.css);
@import url(base.css);

nav {
    z-index: 999;
    width: 100%;
    position: fixed !important;
    top: 0;
    left: 0;
}

nav .user-field div:first-child a{
   color: var(--gray);
}

nav .user-field div:last-child a{
    background-color: var(--dark);
    color: var(--white);
 }

header .hero {
    width: 100%;
    height: 75vh;
}

header .hero .text-Content {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    text-align: center;

}

/* header .hero .text-Content .hero-btn {
    border: 2px solid #fff;
    transition: .4s;
} */

/* header .hero .text-Content .hero-btn:hover {
    background-color: #fff !important;
    color: #333 !important;
} */

.seach-panel {
    position: sticky;
    top: 50px;
    z-index: 100;
    transition: .4s;
}



section .cards-cn {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: center;
    gap: 10px;
}